@model CORE05WebApp.Models.Employeedetail
@{ 
    ViewData["Title"]="New Employee";
}
<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add New Employee</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Employeeid"></label>
                    <input asp-for="Employeeid" class="form-control" />
                    <span asp-validation-for="Employeeid" class="text-danger"></span>
                </div>
               
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Employeeid"></label> 
                    <input asp-for="Employeeid" class="form-control" />
                    <span asp-validation-for="Employeeid" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Employeename"></label>
            </div>
            <div class="col-8">
                <input asp-for="Employeename" class="form-control" />
                <span asp-validation-for="Employeename" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Joiningdate"></label>
            </div>
            <div class="col-8">
                <input asp-for="Joiningdate" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Gender"></label>
            </div>
            <div class="col-8">
                <input type="radio" asp-for="Gender" class="form-control" value="Male" />
                <input type="radio" asp-for="Gender" class="form-control" value="Female" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="District"></label>
            </div>
            <div class="col-8">
                <select asp-for="District" class="form-control"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Active"></label>
            </div>
            <div class="col-8">
                <input type="checkbox" asp-for="Active" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Image"></label>
            </div>
            <div class="col-8">
                <input type="image" asp-for="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Salary"></label>
            </div>
            <div class="col-8">
                <input type="number" asp-for="Salary" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Address"></label>
            </div>
            <div class="col-8">
                <input type="text" asp-for="Address" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <div class="col-8 offset-2 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-75" value="Create" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>