@model CORE05.ViewModel.EmployeedetailVM
@{
    ViewData["Title"] = "New Employee";
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add New Employee</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Employeeid">Employee ID</label>
                    <input asp-for="Employeeid" class="form-control" />
                    <input asp-for="Id" class="form-control d-none" />
                    <span asp-validation-for="Employeeid" class="text-danger"></span>
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Employeename"></label>
                    <input asp-for="Employeename" class="form-control" />
                    <span asp-validation-for="Employeename" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Joining Date</label>
                    <input asp-for="Joiningdate" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Gender">Gender</label>
                    <input type="radio" asp-for="Gender" name="Gender" value="Male" checked />&nbsp;Male
                    <input type="radio" asp-for="Gender" name="Gender" value="Female" />&nbsp;Female
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Districtid">District</label>
                    <select asp-for="Districtid" asp-items="@(new SelectList(ViewBag.message,"Id","District"))" class="form-control"></select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Active">Status</label>
                    <input type="checkbox" asp-for="Active" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input type="text" asp-for="Address" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Salary">Salary</label>
                    <input type="number" asp-for="Salary" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="hobbiesArr"></label>
                    <select asp-for="hobbiesArr" asp-items="@(new SelectList(ViewBag.message1,"Id","Hobbies"))" class="form-control" multiple></select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Profile Image</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" asp-for="ProfileImage" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group row">
                <div class="col-8 offset-2 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-75" value="Create" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>